.table-of-contents {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 20px;
}
.table-of-contents ul,
.tables-navs ul {
  padding-left: 40px;
  list-style-type: decimal;
}
.table-of-contents ul ul,
.tables-navs ul ul {
  list-style-type: circle;
  padding-left: 20px;
}
.table-of-contents ul a {
  text-decoration: none;
}

.table-of-contents ul ul li {
  padding-bottom: 5px;
  padding-top: 5px;
}

h2,h3,h4 {
    font-weight: bold;
    color: #545454;
}